.btn {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.2;
  padding: 15px 15px;
  min-height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $red;
  color: $white;
  font-family: $font-family-sans-serif;
  border: 3px solid $red;
  transition: all 0.3s ease;
  font-weight: 600;
  outline: none !important;
  box-shadow: none !important;
  white-space: nowrap;
  min-width: 250px;
  max-width: 100%;
  letter-spacing: 0;

  @include media-breakpoint-up(md) {
    font-size: 16px;
    min-width: 250px;
  }

  @include media-breakpoint-up(xxxl) {
    font-size: 18px;
    min-width: 300px;
  }

  svg {
    margin-right: 10px;
    path,
    rect,
    polygon,
    circle {
      fill: $white;
      transition: all 0.3s ease;
    }
  }
  &:hover,
  &:active {
    background-color: $white;
    color: $red;
    border-color: $red;
    path,
    rect,
    polygon,
    circle {
      fill: $red;
    }
  }
  &:focus {
    background-color: $red;
    border-color: $red;
    color: $white;
    path,
    rect,
    polygon,
    circle {
      fill: $white;
    }
  }
}

.btn-primary {
  background-color: $yellow-dark;
  border-color: $yellow-dark;

  &:hover {
    background-color: $white;
    color: $yellow-dark;
    border-color: $yellow-dark;
    path,
    rect,
    polygon,
    circle {
      fill: $yellow-dark;
    }
  }
  &:focus {
    background-color: $yellow-dark;
    border-color: $yellow-dark;
    color: $white;
    path,
    rect,
    polygon,
    circle {
      fill: $white;
    }
  }
}

.btn-lg {
  font-size: 19px;
}

.btn-secondary {
  background-color: $blue;
  border-color: $blue;

  &:hover {
    background-color: $white;
    color: $blue;
    border-color: $blue;
    path,
    rect,
    polygon,
    circle {
      fill: $blue;
    }
  }

  &:focus {
    background-color: $blue;
    border-color: $blue;
    color: $white;
    path,
    rect,
    polygon,
    circle {
      fill: $white;
    }
  }
}

.btn-annuaire {
  padding: 13px 15px;
  svg {
    margin-top: -5px;
    max-height: 60px;
  }
}
