.card {
  border: 0;
}

.card__calendar {
  background-color: $white;
  font-size: 15px;
  line-height: 1.3;
  font-weight: 600;
  padding: 30px 20px 60px;
  position: relative;
  margin-bottom: 30px;
  width: 100%;

  @include media-breakpoint-up(md) {
    text-align: left;
    padding: 40px 20px 40px 80px;
  }
  @include media-breakpoint-up(xxl) {
    max-width: 550px;
  }

  @include media-breakpoint-up(xxl) {
    margin-bottom: 60px;
  }

  address {
    margin-bottom: 0;
  }

  strong {
    font-weight: 700;
    font-size: 40px;
    line-height: 1;
    color: $red;
    margin-bottom: 30px;
    display: block;
  }

  small {
    font-weight: inherit;
    display: block;
    @include media-breakpoint-up(lg) {
      font-size: inherit;
    }
  }

  .calillus1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
  }

  .calillus2 {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);

    @include media-breakpoint-up(xl) {
      left: auto;
      top: 0;
      bottom: auto;
      right: 0;
      transform: translate(50%, -50%);
    }
  }
}

.card__metier {
  background-color: $blue;
  // text-align: center;
  max-width: 300px;

  width: 100%;
  overflow: hidden;

  @include media-breakpoint-up(md) {
    width: 300px;
    max-width: 100%;
  }

  @include media-breakpoint-up(xxxl) {
    width: 345px;
  }

  .card-header {
    padding: 0;
    // height: 300px;
    overflow: hidden;
    border: 0;
    max-height: 300px !important;

    // @include media-breakpoint-up(xl) {
    //   max-height: 240px !important;
    // }

    // @include media-breakpoint-up(xxl) {
    //   max-height: 240px !important;
    // }

    @include media-breakpoint-up(xxxl) {
      max-height: 345px !important;
    }
  }
  .card-body {
    padding: 0;
  }
  svg {
    transform: translate(-5px, -5px);
    width: calc(100% + 10px);
    height: auto;
  }

  span {
    display: block;
    padding: 9px 20px;
  }

  .card-title {
    padding: 10px 50px;

    color: $white;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.6px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

    @include media-breakpoint-up(lg) {
      padding: 16px 0;
      white-space: pre;
    }
    @include media-breakpoint-up(xxl) {
      padding: 22px 0;
      font-size: 20px;
    }
  }
  .card-hover {
    position: absolute;
    white-space: pre;
    color: $white;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.6px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: stretch;
    flex-direction: column;
    margin: 0;
    background-color: $yellow;
    width: 100%;
    height: 100%;
    bottom: 0;
    transform: translateY(100%);
    transition: transform 0.5s ease 0.5s;
    padding: 0;

    @include media-breakpoint-up(xxl) {
      font-size: 20px;
    }
    br {
      display: none;
    }
    span,
    strong {
      opacity: 0;
      transform: translateY(100%);
      transition: all 0.5s ease 0.8s;
    }

    .card-hover-header {
      flex: 1 0 calc(100% - 69px);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: $yellow;
      color: $white;
      font-weight: 400;
      line-height: 1.5;
      text-transform: none;
      width: 100%;
      font-size: 18px;
      @include media-breakpoint-up(xxxl) {
        font-size: 22px;
      }

      strong {
        text-transform: uppercase;
        // font-size: 23px;
        flex-basis: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100% - 30px);
        margin-left: auto;
        margin-right: auto;
        white-space: normal;
        line-height: 1.1;
      }
      span {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    }
    .card-hover-footer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-basis: 69px;
      padding: 10px;
    }
  }

  #filler {
    transition: all 1s ease;
    transform-origin: top center;
  }
  #circle {
    transition: all 0.6s ease 0.3s;
    transform-origin: center center;
  }

  &:hover {
    text-decoration: none;
    color: inherit;
    .card-hover {
      transform: translateY(0);
      transition-delay: 0;
      span,
      strong {
        transform: translateY(0);
        opacity: 1;
      }
    }
    #filler {
      transform: scale(5);
    }
    #circle {
      transform: scale(7);
    }
  }
}

.card__blog {
  background-color: $white;
  text-align: left;

  .card-header {
    display: block;
    width: 100%;
    height: 158px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;

    @include media-breakpoint-up(md) {
      height: 130px;
    }

    @include media-breakpoint-up(xl) {
      height: 160px;
    }

    @include media-breakpoint-up(xxl) {
      height: 180px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: $blue-light;
      opacity: 0;
      visibility: hidden;
      transition: all 0.6s ease;
    }
  }
  .card-img-top {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center center;
    font-family: "object-fit: cover; object-position: center center;";
  }
  .card-body {
    padding: 22px 30px 0;
  }
  .card-footer {
    padding: 0 30px 22px;
    display: flex;
    justify-content: space-between;
    border: 0;
    background-color: transparent;

    svg {
      width: auto;
      height: 12px;
    }
  }
  .card-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.3;
    text-decoration: none !important;
  }
  a:hover {
    text-decoration: none;
  }

  .card-tags {
    font-size: 14px;
    line-height: 1.5;
    color: $red;
    opacity: 1;
    height: 50px;

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .card-share,
  .card-link {
    path {
      fill: $red;
      transition: fill 0.3s ease;
    }
    &:hover {
      path {
        fill: $blue;
      }
    }
  }
  &:hover {
    .card-header::after {
      opacity: 0.3;
      visibility: visible;
    }
  }
}

.card__person {
  width: 100%;
  padding-bottom: 100%;
  margin-bottom: 30px;

  @include media-breakpoint-up(lg) {
    margin-bottom: 30px;
  }
  @include media-breakpoint-up(xxxl) {
    margin-bottom: 60px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    transition: all 0.3s ease;
    svg {
      width: 16px;
      @include media-breakpoint-up(xxl) {
        width: 21px;
      }

      height: auto;
    }
    path {
      fill: $white;
    }
    &:hover {
      background-color: $blue;
    }
  }
  .swiper-button-next {
    right: 0;
  }
  .swiper-button-prev {
    left: 0;
  }

  .card-wrapper {
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .card-swiper {
    display: block;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $black;
      opacity: 0.3;
      z-index: 1;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $red;
      opacity: 0;
      z-index: 2;
      transition: opacity 0.3s ease;
    }
    &:hover {
      &::before {
        // opacity: 0.4;
      }
    }
  }

  .card-body {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    color: $white;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0;
  }
  .card-content {
    flex-grow: 1;
    // padding-bottom: 25px;
    padding: 5px 0;
  }
  .card-links {
    z-index: 2;
    flex-basis: 35px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;

    // @include media-breakpoint-up(xxl) {
    //   flex-basis: 30px;
    // }
    @include media-breakpoint-up(lg) {
      flex-basis: 25px;
    }
    @include media-breakpoint-up(xl) {
      flex-basis: 35px;
    }
    @include media-breakpoint-up(xxxl) {
      flex-basis: 44px;
    }

    a {
      height: 35px;
      width: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease;

      @include media-breakpoint-up(lg) {
        height: 25px;
        width: 25px;
      }
      @include media-breakpoint-up(xl) {
        height: 35px;
        width: 35px;
      }
      @include media-breakpoint-up(xxxl) {
        height: 44px;
        width: 44px;
      }

      svg {
        height: 17px;
        width: auto;
        @include media-breakpoint-up(lg) {
          height: 12px;
        }
        @include media-breakpoint-up(xl) {
          height: 17px;
        }
        @include media-breakpoint-up(xxxl) {
          height: 20px;
        }
      }
      path {
        fill: $white;
      }

      &:hover {
        background-color: $blue;
      }
    }
  }
  .card-share {
    background-color: $red-light;
  }

  .card-mail {
    background-color: $yellow;
  }

  .card-page {
    background-color: $red;
  }

  .card-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 8px;
  }

  .card-subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 0;
  }

  a {
    transition: all 0.3s ease;
    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }
}

.card__person-container {
  // will-change: transform;

  &.hide {
    // transition: transform 0.3s linear;
    position: absolute;
    transform: scale(0);
    transform-origin: center center;
  }
}

.card__team {
  @extend .mx-auto;
  max-width: 210px;
  margin-bottom: 30px;

  @include media-breakpoint-up(md) {
    margin-bottom: 0;
  }

  @include media-breakpoint-up(lg) {
    max-width: 390px;
  }
  .card-title {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
    @include media-breakpoint-up(xxl) {
      margin-bottom: 15px;
      font-size: 22px;
    }
  }
  .card-subtitle {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.3;
    color: $red;
    @include media-breakpoint-up(xxl) {
      font-size: 18px;
    }
  }
}

.card__collapse {
  margin-bottom: 30px;

  @include media-breakpoint-up(xxl) {
    margin-bottom: 70px;
  }

  .card-header {
    color: $white;
    text-transform: uppercase;
    font-size: 18px;
    cursor: pointer;
    padding: 0;
    border: 0;
    transition: all 0.6s ease;
    max-width: 210px;
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint-up(lg) {
      max-width: 390px;
    }

    .card-title {
      height: 120px;
      display: flex;
      align-items: center;
      margin: 0;
      font-weight: 600;
      line-height: 1.7;
      justify-content: center;
      font-size: 18px;

      @include media-breakpoint-up(lg) {
        font-size: 22px;
        line-height: 1.4;
        height: 140px;
      }
    }
    .btn {
      border: 0;
      width: 100%;
      min-width: 0;
      height: 40px;

      @include media-breakpoint-up(lg) {
        height: 70px;
      }

      svg {
        fill: $white !important;
        &:first-child {
          display: none;
        }
      }
    }

    &.collapsed {
      .btn {
        svg:first-child {
          display: block;
        }
        svg:last-child {
          display: none;
        }
      }
    }

    &:hover,
    &:not(.collapsed) {
      // background-color: $blue-dark!important;
      box-shadow: 8px 8px 16px #00000030;
      .btn {
        // background-color: $red!important;
      }
    }
  }

  &.corail {
    .card-header {
      background-color: $red;
      .btn {
        background-color: $red-light;
      }
    }
  }

  &.yellow {
    .card-header {
      background-color: $yellow;
      .btn {
        background-color: $yellow-light;
      }
    }
  }
  &.blue {
    .card-header {
      background-color: $blue-dark;
      .btn {
        background-color: $blue-light;
      }
    }
  }
  &.red {
    .card-header {
      background-color: $red-dark;
      .btn {
        background-color: $red-med;
      }
    }
  }
}

.card__flap {
  height: 180px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: $blue-dark;
  cursor: pointer;
  margin-bottom: 30px;
  letter-spacing: 1.6px;
  margin-left: auto;
  margin-right: auto;

  @include media-breakpoint-up(md) {
    height: 180px;
    max-width: 600px;
  }

  @include media-breakpoint-up(xl) {
    height: 170px;
    max-width: 800px;
  }

  @include media-breakpoint-up(xxxl) {
    margin-bottom: 60px;
    max-width: 1000px;
    height: 240px;
  }

  .recto,
  .verso {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: calc(100% - 60px);

    @include media-breakpoint-up(xxl) {
      width: calc(100% - 70px);
    }
    .wrapper {
      @extend .mx-auto;
      max-width: calc(100% - 60px);
      // word-wrap: break-word;
      // overflow-wrap: normal;
      @include media-breakpoint-up(xxl) {
        max-width: 700px;
      }
    }
  }

  .recto {
    background: $white !important;
    color: $blue;
    font-size: 15px;

    @include media-breakpoint-up(md) {
      font-size: 18px;
    }
    @include media-breakpoint-up(xxxl) {
      letter-spacing: 2px;
      font-size: 30px;
    }
  }

  .handler {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 60px;
    transition: all 0.3s ease;

    @include media-breakpoint-up(xxl) {
      width: 70px;
    }
    svg {
      transform-origin: center;
      transition: transform 0.3s ease;
    }
  }

  .verso {
    transition: transform 0.6s ease;
    transform: translateX(100%);
    text-align: left;
    color: $blue-dark;
    letter-spacing: 0;
    line-height: 1.2;
    // padding: 30px;
    justify-content: flex-start;
    font-size: 14px;

    @include media-breakpoint-up(md) {
      font-size: 18px;
    }

    @include media-breakpoint-up(xxl) {
      padding: 60px;
    }

    @include media-breakpoint-up(xxxl) {
      font-size: 24px;
    }
    p {
      margin-bottom: 0;
    }
  }

  &.corail {
    .recto {
      background-color: $red;
    }
    .handler {
      background-color: $red-light;
    }
    .verso {
      background-color: $red-light;
      color: $blue-dark;
    }
  }
  &.yellow {
    .recto {
      background-color: $yellow;
    }
    .handler {
      background-color: $yellow-light;
    }
    .verso {
      background-color: $yellow-light;
      color: $blue-dark;
    }
  }
  &.blue {
    .recto {
      background-color: $blue-dark;
    }
    .handler {
      background-color: $blue;
    }
    .verso {
      background-color: $blue;
      color: $white;
    }
  }
  &.red {
    .recto {
      background-color: $red-dark;
    }
    .handler {
      background-color: $red-med;
    }
    .verso {
      background-color: $red-med;
      color: $white;
    }
  }

  &.open {
    .verso {
      transform: translateX(0%);
    }
    .handler {
      svg {
        transform: rotate(180deg);
      }
    }
    &.corail {
      .handler {
        background-color: $red;
      }
    }
    &.yellow {
      .handler {
        background-color: $yellow;
      }
    }
    &.blue {
      .handler {
        background-color: $blue-dark;
      }
    }
    &.red {
      .handler {
        background-color: $red-dark;
      }
    }
  }
}

.card__flap__vertical {
  max-width: none;
  height: 345px;
  margin-bottom: 50px;

  @include media-breakpoint-up(md) {
    height: 240px;
    margin-bottom: 30px;
  }

  @include media-breakpoint-up(xxxl) {
    height: 345px;
    margin-bottom: 60px;
  }

  .handler {
    width: 100% !important;
    height: 60px;
    bottom: 0;
    top: auto;
  }
  .recto,
  .verso {
    width: 100%;
    height: calc(100% - 60px);
    padding: 0 10px;
    overflow: hidden;

    @include media-breakpoint-up(xl) {
      padding: 0 20px;
    }

    .wrapper {
      @extend .mx-auto;
      @include media-breakpoint-up(xxl) {
        max-width: calc(100% - 60px);
      }
    }
  }

  .recto {
    font-size: 16px;

    @include media-breakpoint-up(xl) {
      font-size: 20px;
    }

    @include media-breakpoint-up(xxxl) {
      letter-spacing: 2px;
      font-size: 25px;
    }

    .wrapper {
      max-width: 100%;
    }

    strong {
      display: block;
      margin-bottom: 10px;
      font-size: 20px;

      @include media-breakpoint-up(md) {
        font-size: 22px;
      }
      @include media-breakpoint-up(xxxl) {
        letter-spacing: 1.5px;
        font-size: 30px;
        margin-bottom: 20px;
      }
    }
  }

  .verso {
    transform: translateY(100%);
    font-size: 16px;

    // @include media-breakpoint-up(xl) {
    //   font-size: 18px;
    // }

    @include media-breakpoint-up(xxxl) {
      font-size: 20px;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: disc;
    }
  }

  &.open {
    .verso {
      transform: translateY(0%);
    }
    .handler {
      svg {
        transform-origin: center center;
        transform: rotate(45deg);
      }
    }
  }
}

body:not(.touch) {
  .card__flap {
    &:hover {
      .handler {
        @include media-breakpoint-up(lg) {
          width: 100px;
        }
      }
    }
  }
  .card__flap__vertical {
    &:hover {
      .handler {
        svg {
          transform: scale(2);
        }

        @include media-breakpoint-up(lg) {
          // height: 50%;
        }
      }
      &.open {
        .handler {
          svg {
            @include media-breakpoint-up(lg) {
              transform: scale(2) rotate(45deg);
            }
          }
        }
      }
    }
    &:focus,
    &:focus-within {
      .handler {
        @include media-breakpoint-up(lg) {
          // height: 60px !important;
        }
      }
    }
  }
}
