.wpcf7 {
  .ajax-loader {
    position: absolute;
    bottom: 45px;
    right: 30px;
    left: auto;
    top: auto;
  }
}

.form-control {
  border: 0;
  border-bottom: 2px solid $red;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  color: $blue-dark;
  outline: none !important;
  box-shadow: none !important;
  padding: 15px 11px;
  height: auto;
  margin-bottom: 10px;

  @include media-breakpoint-up(xxxl) {
    font-size: 20px;
  }
}

.form-control:focus {
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid $blue-dark;
}

textarea.form-control {
  border-bottom: 2px solid $red;
}

.form-control::placeholder {
  color: $blue-dark;
}

// Contact form
.wpcf7-not-valid {
  border-bottom-color: $red;
}

.wpcf7-not-valid-tip {
  display: none !important;
  position: absolute;
  min-width: 300px;
  line-height: 1;
  height: 25px;
  font-size: 12px;
  text-align: left;
  padding-left: 13px;
  padding-top: 3px;
  color: $red;
}

.wpcf7-submit {
  @extend .btn;
  @extend .btn-secondary;

  font-size: 19px;
  box-shadow: none;
  width: 100%;

  @include media-breakpoint-up(md) {
    width: auto;
    min-width: 290px;
  }
}

form[data-status="sent"] {
  .wpcf7-submit {
    background-color: $white;
    color: $red;
    position: relative;

    &::after {
      width: 100%;
      height: 100%;
      background-color: $white;
      content: "envoyé !";
      color: $red;
      position: absolute;
    }
  }
}

.select2-container--classic .select2-selection--multiple,
.select2-container--classic .select2-selection--single {
  background-color: white;
  border: 1px solid $red;
  border-radius: 35px;
  outline: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 30px;
  padding-left: 20px;
  font-size: 16px;
  line-height: 1;
  font-weight: 600;
  color: $red;
  text-align: left;
  position: relative;
  min-height: 50px;
  background-image: none;
  font-family: $font-family-sans-serif;

  @include media-breakpoint-up(xxxl) {
    font-size: 30px;
    min-height: 70px;
  }
  &:focus {
    border-color: $red;
  }

  &::after {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M35 32.525L32.526 35L25.101 27.576L27.575 25.1L35 32.525ZM14 24.5C11.9233 24.5 9.89324 23.8842 8.16652 22.7304C6.4398 21.5767 5.09399 19.9368 4.29927 18.0182C3.50455 16.0995 3.29661 13.9884 3.70175 11.9516C4.1069 9.91475 5.10693 8.04383 6.57538 6.57538C8.04383 5.10693 9.91475 4.1069 11.9516 3.70175C13.9884 3.29661 16.0996 3.50454 18.0182 4.29926C19.9368 5.09398 21.5767 6.4398 22.7304 8.16652C23.8842 9.89324 24.5 11.9233 24.5 14C24.4968 16.7838 23.3896 19.4527 21.4211 21.4211C19.4527 23.3896 16.7838 24.4968 14 24.5ZM14 0C11.2311 0 8.5243 0.821089 6.22202 2.35943C3.91973 3.89777 2.12532 6.08426 1.06569 8.64243C0.00606322 11.2006 -0.27118 14.0155 0.269013 16.7313C0.809206 19.447 2.14258 21.9416 4.10051 23.8995C6.05845 25.8574 8.553 27.1908 11.2687 27.731C13.9845 28.2712 16.7994 27.9939 19.3576 26.9343C21.9157 25.8747 24.1022 24.0803 25.6406 21.778C27.1789 19.4757 28 16.7689 28 14C28 10.287 26.525 6.72601 23.8995 4.1005C21.274 1.47499 17.713 0 14 0V0Z' fill='%23ED7665'/%3E%3C/svg%3E%0A");
    position: absolute;
    top: 50%;
    right: 0;
    width: 20px;
    height: 20px;
    background-size: contain;
    transform: translate(-50%, -50%);
    cursor: pointer;
    @include media-breakpoint-up(xxxl) {
      width: 35px;
      height: 35px;
    }
  }
}

.select2-container--classic .select2-selection--single {
  // padding-top: 10px;
  display: flex;
  align-items: center;
}

.select2-container--classic.select2-container--open
  .select2-selection--multiple,
.select2-container--classic.select2-container--open .select2-selection--single {
  border-color: $red;
}

.select2-container .select2-search--inline .select2-search__field {
  margin-top: 6px;
  margin-left: 0;
  height: 16px;
  background-color: transparent;
  color: $red;
  font-weight: 600;
  font-family: $font-family-sans-serif;
  font-size: 16px;

  @include media-breakpoint-up(xxxl) {
    margin-top: 10px;
    font-size: 26px;
    height: 30px;
  }

  &::placeholder {
    color: $red;
    opacity: 1;
  }
}
.select2-search--dropdown {
  padding-left: 15px;
  padding-right: 15px;
  width: calc(100% - 40px);
  @include media-breakpoint-up(md) {
    margin-top: -10px;
  }
  @include media-breakpoint-up(xxxl) {
    margin-top: -62px;
  }
}

.select2-results__option {
  font-size: 16px;
  line-height: 1;
  font-weight: 600;
  color: $red;
  padding: 10px 15px;

  @include media-breakpoint-up(xxxl) {
    font-size: 26px;
  }
}

.select2-container--classic
  .select2-selection--single
  .select2-selection__clear {
  color: $red;
  font-weight: 400;
  position: absolute;
  right: 40px;

  @include media-breakpoint-up(xxxl) {
    right: 50px;
  }
}

.select2-container--classic.select2-container--open.select2-container--below
  .select2-selection--single {
  background-image: none;
}

.select2-container--classic
  .select2-selection--single
  .select2-selection__rendered {
  color: $red;
  font-size: 16px;
  font-weight: 600;

  @include media-breakpoint-up(xxxl) {
    font-size: 26px;
  }
}
// .select2-results__message {
//   display: none;
// }
.select2-container--classic .select2-search--dropdown .select2-search__field {
  color: $red;
  border-color: $red;
  font-weight: 600;
  font-size: 16px;
  font-family: $font-family-sans-serif;
  border: 0;

  @include media-breakpoint-up(xxxl) {
    font-size: 26px;
  }
}

.select2-container--classic.select2-container--open .select2-dropdown {
  border-color: $red;
}

.select2-container--classic .select2-results__option--selectable {
  transition: all 0.3s ease;
  color: $red;
}

.select2-container--classic .select2-results__option--selected {
  background-color: rgba($red-light, 0.25);
}

.select2-container--classic
  .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: $red;
}

.select2-selection__arrow {
  display: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 0;
}

.select2-container--classic
  .select2-selection--single
  .select2-selection__placeholder {
  color: $red;
  font-size: 16px;

  @include media-breakpoint-up(xxxl) {
    font-size: 26px;
  }
}

.select2-container--classic
  .select2-selection--multiple
  .select2-selection__choice {
  background-color: rgba($red-light, 0.25);
  border: 1px solid $red-light;
  // border-bottom-left-radius: 30px;
  // border-bottom-right-radius: 30px;
  margin-left: 0;
  margin-right: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 5px 0 5px 5px;
  color: $red;
  display: inline-flex;
  flex-direction: row-reverse;
}
.select2-container--classic
  .select2-selection--multiple
  .select2-selection__choice__remove {
  color: $red;
  font-weight: 400;
  border-left: 1px solid $red-light;
  border-radius: 0;
  &:hover {
    color: $blue;
  }
}

.select2-dropdown-container {
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
}

.select2-container--classic .select2-results > .select2-results__options {
  @extend .custom-scroll;
}
