.modal {
  z-index: 2000;
  .close {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    cursor: pointer;
    text-shadow: none;

    path {
      transition: fill 0.3s ease;
      fill: $white;
    }

    &:hover {
      path {
        fill: $red;
      }
    }
  }

  &-content {
    border: 0;
    background-color: $black;
  }
}

#modal-video {
  margin: 0;
  padding: 0 !important;

  .modal-dialog {
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: calc(100% / (16 / 9));

    @media (orientation: landscape) {
      height: 90vh;
      width: calc(90vh * (16 / 9));
    }

    // @media (orientation: landscape) and (min-width: 1900px) {
    //   height: 720px;
    //   width: calc(720px * (16 / 9));
    // }
  }

  .embed-responsive {
  }
}
