.pagination {
  margin-bottom: 30px;

  @include media-breakpoint-up(md) {
    margin-bottom: 60px;
  }

  .page-item {
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 400;

    &.active {
      .page-link {
        background-color: transparent;
        color: $red;
      }
    }
    &:first-child {
      .page-link::after {
        display: none;
      }
    }
    &:last-child {
      .page-link::after {
        display: none;
      }
    }
    &:nth-last-child(4) {
      .page-link::after {
        display: none;
      }
    }
    &:nth-last-child(2) {
      .page-link::after {
        display: none;
      }
    }
  }

  .page-link {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &::after {
      content: "-";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0%, -50%);
      color: $blue-dark !important;
    }
  }
}
