.a2a_menu {
  // background: $white !important;
  // border-color: $white !important;
}
#a2apage_dropdown {
  border-radius: 0;
  a {
    display: none;
  }

  a[href*="facebook"],
  a[href*="twitter"],
  a[href*="linked"],
  a[href*="insta"] {
    display: block;
  }
  .a2apage_show_more_less {
    display: none !important;
  }
}
