.swiper-container {
  position: relative;
}

.swiper-entrepreneur-cover {
  height: 600px;

  @include media-breakpoint-up(xxxl) {
    height: 700px;
  }

  .swiper-slide {
    display: flex;
    align-items: center;

    img {
      width: 100%;
    }
  }
}

.swiper-lazy {
  transition: opacity 0.3s ease;
}
.swiper-lazy-loading {
  opacity: 0;
}
.swiper-lazy-loaded {
  opacity: 1;
}

.swiper-coverflow {

    margin-left: -15px;
    margin-right: -15px;


  .swiper-wrapper {
    @include media-breakpoint-up(md) {
      cursor: auto !important;
      transform: translate3d(0, 0, 0) rotateX(0deg) rotateY(0deg) scale(1) !important;
    }
  }
  .swiper-slide {
    width: 270px;

    @include media-breakpoint-up(md) {
      padding: 0 15px;
      width: 33.33333334%;
      transform: translate3d(0, 0, 0) rotateX(0deg) rotateY(0deg) scale(1) !important;
    }
    @include media-breakpoint-up(xxxl) {
      padding: 0 35px;
    }
  }
}

.swiper-carrousel-container {
  position: relative;

  .swiper-button-next,
  .swiper-button-prev {
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
    }
    svg {
      height: 25px;
    }

    path {
      fill: $red;
    }
  }
  .swiper-button-prev {
    transform: translateX(-50%);
  }
  .swiper-button-next {
    transform: translateX(50%);
  }

  .swiper-button-prev.swiper-button-lock,
  .swiper-button-next.swiper-button-lock {
    opacity: 0;
  }
}

.swiper-carrousel {
  // .swiper-wrapper {
  //   justify-content: center;
  // }
  // &.swiper-initialized .swiper-wrapper {
  //   justify-content: flex-start;
  // }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;

    img {
      position: relative;
      z-index: 1;
      mix-blend-mode: multiply;
      filter: grayscale(100%);
      width: auto;
      display: block;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s ease;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;

      @include media-breakpoint-up(md) {
        height: 55px;
      }

      &::after {
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
        opacity: 1;
        // background-color: $blue;
        position: absolute;
        mix-blend-mode: lighten;
      }
      &:hover {
        img {
          mix-blend-mode: normal;
          filter: grayscale(0%);
        }
      }
    }
  }
}

.swiper-basic {
  position: absolute;
  height: 100%;
  width: 100%;
  .swiper-slide {
    box-shadow: inset 0 -100px 99px #2a2a2ad4, 0 3px 6px #00000029;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
      font-family: "object-fit: cover;object-position: center center;";
    }
  }
}

// #swiper-magic {
//   width: 100%;
//   height: 500px;
//   overflow: hidden;
//   .swiper-slide {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }
// }

.swiper-button-next,
.swiper-button-prev {
  content: "";
  background-image: none;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include media-breakpoint-up(xxl) {
    width: 50px;
    height: 50px;
  }

  &::after {
    display: none;
  }

  svg {
    height: 25px;
    width: auto;
    @include media-breakpoint-up(xxl) {
      height: 35px;
    }
  }

  path {
    transition: fill 0.3s ease;
    fill: $blue-light;
  }

  &:hover {
    path {
      fill: $red-light;
    }
  }
}
.swiper-button-prev {
  left: 30px;
}
.swiper-button-next {
  right: 30px;
}
