.aside-navbar-toggler {
  display: none;

  &::before {
    display: none;
  }

  @include media-breakpoint-up(lg) {
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1031;
    transform: translateX(-100%);
    background-color: $white;
    width: 50px;
    height: 50px;
    left: var(--side-width-lg);
  }

  @include media-breakpoint-up(lg) {
    width: 70px;
    height: 70px;
  }

  @include media-breakpoint-up(xl) {
    left: var(--side-width-xl);
  }

  @include media-breakpoint-up(xxxl) {
    left: var(--side-width-xxl);
  }

  span {
    background-color: $red;
  }
}

.aside-collapse {
  display: none;

  @include media-breakpoint-up(lg) {
    background-color: $white;
    top: 0;
    left: 0;
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: var(--side-width-lg);
    z-index: $zindex-fixed;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    transition: transform 0.6s ease;
    transform: translateX(-100%);
  }

  @include media-breakpoint-up(xl) {
    width: var(--side-width-xl);
  }

  @include media-breakpoint-up(xxxl) {
    width: var(--side-width-xxl);
  }

  &.show {
    transform: translateX(0);
  }
}

#aside-entrepreneur {
  .aside-header {
    position: relative;
    flex: 0 1 45%;
    width: 100%;
    overflow: hidden;

    // @media (max-height: 800px) {
    //   flex: 0 1 40%;
    // }

    // @media (max-height: 700px) {
    //   flex: 0 1 35%;
    // }

    // @media (max-height: 600px) {
    //   flex: 0 1 30%;
    // }

    img {
      position: absolute;
      top: 0%;
      left: 0%;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  .aside-body {
    text-align: center;
    padding: 15px 10px;
    flex: 1 0 50%;
    font-size: 14px;
    color: $blue;

    @media (min-height: 600px) {
      padding: 20px 10px;
      font-size: 17px;
    }

    @media (min-height: 700px) {
      padding: 30px 10px;
      font-size: 19px;
    }
    @media (min-height: 800px) {
      padding: 40px 10px;
    }

    .motif {
      display: none;

      @media (min-height: 500px) {
        display: block;
        margin-bottom: 10px;
      }

      @media (min-height: 800px) {
        margin-bottom: 20px;
      }

      img {
        width: 30px;
        height: 30px;
        margin-left: 2px;
        margin-right: 2px;
        @media (min-height: 800px) {
          width: 50px;
          height: 50px;
        }
      }
    }
    .title {
      font-size: 25px;
      font-weight: 700;
      color: $blue;
      margin-bottom: 10px;

      @media (min-height: 700px) {
        font-size: 35px;
      }
    }

    a {
      display: block;
    }
    .subtitle {
      font-size: 20px;
      margin-bottom: 0;

      @media (min-height: 700px) {
        font-size: 25px;
      }
    }
    .sep {
      padding-top: 10px;
    }
    .location {
      margin-top: 10px;
    }

    .socials {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5px;
      margin-bottom: 15px;

      @media (min-height: 700px) {
        margin-bottom: 30px;
      }
      svg {
        height: 17px;
        width: auto;
      }
      path {
        transition: fill 0.3s ease;
      }
      a {
        margin-left: 5px;
        margin-right: 5px;
        &:hover {
          fill: $red;
        }
      }
    }

    .tags {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      .tag {
        white-space: nowrap;
        padding: 2px 4px;
        margin-right: 3px;
        margin-left: 3px;
        font-size: 12px;
        font-weight: 400;
        border: 3px solid transparent;
        border-radius: 4px;

        @media (min-height: 700px) {
          padding: 3px 6px;
          font-size: 14px;
          margin-right: 5px;
          margin-left: 5px;
        }

        &__red {
          border-color: $red;
          color: $red;
          background-color: rgba($red-light, 0.17);
        }

        &__yellow {
          border-color: $yellow;
          color: $yellow;
          background-color: rgba($yellow-light, 0.17);
        }

        &__blue {
          border-color: $blue;
          color: $blue;
          background-color: rgba($blue-light, 0.17);
        }
      }
    }
  }
}

#aside-facets {
  // display: flex;
  // align-items: center;
  // background-color: $red-light;
  background-color: $white;
  padding-top: 100px;

  @include media-breakpoint-up(xxxl) {
    padding-top: 130px;
  }
  .aside-body {
  }
  .custom-radio {
    background-color: $white !important;
    position: relative;
    padding: 0;
    // margin-bottom: 1.5vh;
    margin-bottom: 5px;

    &::before {
      transform: scaleX(0);
      content: "";
      position: absolute;
      height: 100%;
      // width: 50px;
      width: 15px;
      top: 0;
      left: 0;
      transition: transform 0.3s ease;
      transform-origin: left center;
    }

    &.custom-radio-active {
      &::before {
        transform: scaleX(1);
      }

      .custom-control-label a {
        // padding: 0 10px 0 60px !important;
        padding: 0 10px 0 25px !important;
        font-weight: 600;
      }
    }

    &.bg-red::before {
      background-color: $red;
    }
    &.bg-yellow::before {
      background-color: $yellow;
    }
    &.bg-blue::before {
      background-color: $blue;
    }
    &.bg-red-dark::before {
      background-color: $red-dark;
    }
    &.bg-blue-light::before {
      background-color: $blue-light;
    }
    &.bg-yellow-light::before {
      background-color: $yellow-light;
    }
    &.bg-blue-dark::before {
      background-color: $blue-dark;
    }

    .custom-control-label {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.2;
      padding: 0;
      display: flex;
      align-items: center;
      cursor: pointer;

      @include media-breakpoint-up(xxxl) {
        font-size: 18px;
      }

      a {
        padding: 0 10px 0 25px;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        min-height: 60px;

        @include media-breakpoint-up(lg) {
          min-height: 45px;
        }

        @include media-breakpoint-up(xxxl) {
          min-height: 60px;
        }
        // &::before {
        //   content: "";
        //   position: absolute;
        //   top: 0;
        //   right: 0;
        //   width: 10px;
        //   height: 100%;
        //   background-color: $red-light;
        //   transform: scaleX(0);
        //   transition: transform 0.3s ease;
        //   transform-origin: right center;
        // }
      }

      &::before,
      &::after {
        // transform: translateY(-50%);
        outline: none !important;
        box-shadow: none !important;
        content: none !important;
      }

      &::before {
        left: 14px;
        width: 22px;
        height: 22px;
        border: 0;
        background-color: $white;
        top: calc(50% - 11px);
      }

      &::after {
        left: 19px;
        width: 12px;
        height: 12px;
        background-color: $blue;
        border-radius: 50%;
        transform: scale(0);
        transition: transform 0.3s ease;
        transform-origin: center center;
        top: calc(50% - 6px);
      }
    }

    &:hover {
      a {
        text-decoration: none;
      }

      &::before {
        transform: scaleX(1);
      }
    }

    .custom-control-input {
    }

    .custom-control-input:checked ~ .custom-control-label::before {
      background-color: $white;
    }
    .custom-control-input:checked ~ .custom-control-label::after {
      background-color: $blue;
      background-image: none;
      transform: scale(1);
    }
  }
}

.js-aside-open .navbar-toggler .wrapper {
  transition: transform 0.3s ease 0.2s;
  transform: rotate(45deg);
}

.js-aside-open .navbar-toggler span:nth-of-type(1) {
  top: 4px;
  transform: rotate(0deg);
  transition: top 0.3s ease 0s, transform 0.3s ease-out 0.15s;
}

.js-aside-open .navbar-toggler span:nth-of-type(2) {
  opacity: 0;
}

.js-aside-open .navbar-toggler span:nth-of-type(3) {
  top: 4px;
  transform: rotate(90deg);
  transition: top 0.3s ease-out 0s, transform 0.3s ease-out 0.15s;
}
