.cover-container {
  position: relative;
  overflow: hidden;
  height: calc(100vh - var(--mobile-nav-height));
  width: 100%;

  @include media-breakpoint-up(lg) {
    min-width: 100%;
    min-height: 100vh;
  }

  a {
    text {
      transition: fill 0.3s ease;
    }
    &:hover {
      color: $red;
      text-decoration: none;
      text {
        fill: $blue-dark;
      }
    }
  }

  svg {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);

    @include media-breakpoint-up(lg) {
      bottom: auto;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .page-title {
    position: absolute;
    background-color: blueviolet;
    top: 27.1%;
    left: 21.7%;
    width: 60.99%;
    height: 20.4%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
}

.cover-container.landscape svg {
  width: 100%;
  height: auto;
}

.cover-container.portrait svg {
  height: 100%;
  width: auto;
}

.cover-desktop {
  #annuaire {
    overflow: hidden;

    #annuaire_hover {
      fill: $blue-dark;
      transition: transform 0.6s ease;
      transform-origin: bottom center;
      transform: scaleY(0);
    }

    text {
      transition: all 0.3s ease 0.1s;
    }

    .annuaire_icon {
      transition: all 0.3s ease 0.1s;
    }

    &:hover {
      text {
        fill: $white;
        transition: all 0.3s ease 0.2s;
      }

      #annuaire_hover {
        transform: scaleY(1) !important;
      }
      .annuaire_icon {
        fill: $white;
        transition: all 0.3s ease 0.2s;
      }
    }
  }

  // #windowsss {
  //   path {
  //     &:nth-child(3) {
  //       transition-delay: 0s;
  //     }
  //     &:nth-child(2) {
  //       transition-delay: 0.1s;
  //     }
  //   }
  //   &:hover {
  //     path {
  //       &:nth-child(3) {
  //         fill: #df2333;
  //       }
  //       &:nth-child(2) {
  //         fill: $white;
  //       }
  //     }
  //   }
  // }

  #round {
    &:hover {
      path {
        &:nth-child(8) {
          fill: #df2333;
        }
        &:nth-child(10) {
          fill: #f8c44e;
        }
      }
    }
  }
  #losange {
    path {
      &:nth-child(2) {
        transition-delay: 0s;
      }
      &:nth-child(3) {
        transition-delay: 0.1s;
      }
      &:nth-child(4) {
        transition-delay: 0.2s;
      }
      &:nth-child(5) {
        transition-delay: 0.3s;
      }
    }

    &:hover {
      path {
        &:nth-child(2) {
          fill: #f8c44e;
        }
        &:nth-child(3) {
          fill: #141e49;
        }
        &:nth-child(4) {
          fill: #df2333;
        }
        &:nth-child(5) {
          fill: #fff4f1;
        }
      }
    }
  }

  .cover_mask {
    fill: $white;
    transition: all 1s ease;
  }

  #mask_rect1 {
    transform: scaleY(1);
    transform-origin: top center;
    &.open {
      height: 0;
    }
  }

  #mask_rect2 {
    transform: scaleX(1);
    transform-origin: top right;
    &.open {
      width: 0;
    }
  }
  #mask_rect3 {
    transform: scaleY(1);
    transform-origin: top center;
    &.open {
      height: 0;
    }
  }

  #mask_rect3bis {
    transition-duration: 1.2s;
    transform: scaleY(1);
    transform-origin: top center;
    &.open {
      transform: translateY(276px);
      height: 0;
    }
  }

  #mask_rect4 {
    transition-duration: 0.9s;
    transform: scaleX(1);
    transform-origin: top center;
    &.open {
      height: 0;
    }
  }

  #mask_rect6 {
    transition-duration: 1s;
    transform: scaleX(1);
    transform-origin: bottom center;
    &.open {
      height: 0;
    }
  }

  #mask_stripes {
    // transform: rotate(180deg) translate(-414px, -211px);
    // transform-origin: center right;
    // width: 10%;
    // height: 5%;
    // position: absolute;
    // background-color: white;
    transition: all 0.8s linear;
    &.open {
      // transform: translateX(411px);
      width: 0;
    }
  }

  #mask_rect5 {
    transform: scaleY(1);
    transform-origin: top center;
    &.open {
      height: 0;
    }
  }

  #mask_rect7 {
    transform: scaleY(1);
    transform-origin: top center;
    &.open {
      height: 0;
    }
  }

  #mask_rect8 {
    transform: scaleX(1);
    transform-origin: top right;
    &.open {
      width: 0;
    }
  }
  #mask_rect9 {
    transform: scaleX(1);
    transform-origin: bottom center;
    &.open {
      width: 0;
    }
  }
  #mask_rect10 {
    transform: scaleY(1);
    transform-origin: center right;
    &.open {
      width: 0;
    }
  }
  #mask_rect11 {
    transform: scaleX(1);
    transform-origin: center left;
    &.open {
      width: 0;
    }
  }

  #mask_round {
    transform: scaleY(1);
    transform-origin: top center;
    &.open {
      height: 0;
    }
  }
  #mask_losange {
    transform: scaleY(1);
    transform-origin: bottom center;
    &.open {
      height: 0;
    }
  }

  #mask_window {
    transform: scaleY(1);
    transform-origin: bottom center;
    background-color: #fff;
    &.open {
      height: 0;
    }
  }
  #mask_sun {
    transform: scaleX(1);
    transform-origin: top left;
    &.open {
      width: 0;
    }
  }
  #mask_pyramid {
    transform: scaleY(1);
    transform-origin: top center;
    &.open {
      height: 0;
    }
  }
  #mask_quadrille {
    transform: scaleX(1);
    transform-origin: top left;
    &.open {
      width: 0;
    }
  }
  #mask_triangle {
    transform: scaleY(1);
    transform-origin: bottom center;
    &.open {
      height: 0;
    }
  }
  #mask_sunrise {
    transform: scaleX(1);
    transform-origin: top right;
    &.open {
      width: 0;
    }
  }

  //
  // svg {
  //   path,
  //   circle,
  //   rect,
  //   line {
  //     visibility: hidden;
  //     opacity: 0;
  //     // visibility: visible;
  //     // opacity: 1;
  //     transition: all 0.3s ease;

  //     &.open {
  //       visibility: visible;
  //       opacity: 1;
  //     }
  //   }
  // }
}
