.footer__entrepreneur {
  text-align: center;
  margin-bottom: 60px;
  margin-top: 60px;
}

.main-footer {
  background-color: $blue;
  color: $white;
  padding: 30px 0;
  text-align: center;
  font: normal normal normal 14px/24px $font-family-sans-serif;

  @include media-breakpoint-up(md) {
    font-size: 17px;
  }
  @include media-breakpoint-up(lg) {
    text-align: left;
  }

  .container > .row {
    align-items: flex-start;

    @include media-breakpoint-up(lg) {
      align-items: flex-end;
    }
  }
  .footer-header {
    display: none;
    @include media-breakpoint-up(lg) {
      display: flex;
    }
  }

  .title {
    font: normal normal 600 15px/16px Source Sans Pro;
    letter-spacing: 1.2px;
    color: $yellow-light;
    text-transform: uppercase;
  }

  .logo {
    margin-bottom: 5px;
    height: 35px;
    @include media-breakpoint-up(lg) {
    }
  }
  a {
    color: inherit;
  }

  // sup {
  //   font-size: 10px;
  //   top: -0.4em;
  // }

  .contact {
    .title {
      margin: 20px 0 10px;
    }
  }

  .point-link {
    position: relative;

    &:not(:last-child) {
      padding-right: 10px;
      margin-right: 5px;
      &::after {
        content: "·";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0%, -50%);

        @include media-breakpoint-up(lg) {
          display: none;
        }
      }
    }

    @include media-breakpoint-up(lg) {
      display: block;
    }
  }

  .socials {
    margin-bottom: 25px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 5px;
    }
    .title {
      margin: 20px 0 10px;
      @include media-breakpoint-up(lg) {
        margin: 20px 0 23px;
      }
    }

    svg {
      height: 30px;
      width: auto;

      @include media-breakpoint-up(lg) {
        height: 25px;
      }

      @include media-breakpoint-up(xl) {
        height: 30px;
      }

      path {
        transition: fill 0.3s ease;
      }
    }
    a {
      margin: 0 10px;

      @include media-breakpoint-up(lg) {
        margin: 0 20px 0 0;
      }

      &:hover {
        text-decoration: none;

        path {
          fill: $red;
        }
      }
    }
  }
  .corpo {
    a {
      @include media-breakpoint-up(lg) {
        display: block;
      }
    }
  }
}
