.gabarits-container {
  .entrepreneur {
    // padding: 20px 0;

    @include media-breakpoint-up(xl) {
      padding: 30px 0;
    }

    &:first-child {
      padding-top: 15px;

      @include media-breakpoint-up(xl) {
        padding-top: 60px;
      }
    }
    &:last-child {
      padding-bottom: 30px;

      @include media-breakpoint-up(xl) {
        padding-bottom: 60px;
      }
    }

    .title {
      font-size: 22px;
      line-height: 1.2;
      font-weight: 700;
      margin-bottom: 20px;

      @include media-breakpoint-up(xxxl) {
        font-size: 34px;
        margin-bottom: 30px;
      }
    }
    .content {
      display: flex;
      align-items: center;
    }
    .left {
      @include media-breakpoint-down(lg) {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
    .right {
      @include media-breakpoint-down(lg) {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
  }

  .cover-image {
    height: 500px;
    position: relative;
    width: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  .cover-image-full {
    height: auto;
    position: relative;
    width: 100%;

    img {
      position: relative !important;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  .cover-video {
    background-color: $black;

    .embed-responsive {
      background-color: $blue;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .embed-responsive-item {
      height: auto;
    }
  }

  .cover-slider {
    // background-color: $black;
  }

  .entrepreneur__maxi {
    margin-top: 30px;

    .dots {
      @include media-breakpoint-up(md) {
        margin: 20px 40px;
      }
      @include media-breakpoint-up(xxl) {
        margin: 40px 50px;
      }
    }
    img {
      width: 100%;
    }
    .content {
      align-items: stretch;
    }
    .text-1-wrapper,
    .text-2-wrapper,
    .text-3-wrapper {
      display: flex;
      align-items: flex-start;
      flex-grow: 1;
      flex-direction: column;
      justify-content: center;
    }
    .text-1-wrapper {
      @include media-breakpoint-up(md) {
        min-height: 200px;
      }
      justify-content: flex-start;
    }
    .text-2-wrapper {
      @include media-breakpoint-up(md) {
        min-height: 200px;
      }
      justify-content: flex-end;
    }
    .text-3-wrapper {
      @include media-breakpoint-up(md) {
        min-height: 200px;
      }
      @include media-breakpoint-up(xxxl) {
        padding: 60px 0;
      }
      @include media-breakpoint-up(md) {
        padding: 30px 0;
      }
    }
    .text-3 {
      @include media-breakpoint-up(md) {
        padding-right: 10%;
      }
    }
    p {
      margin-bottom: 0;
    }
    .left,
    .right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .left {
      @include media-breakpoint-between(md, lg) {
        padding-left: 15px !important;
      }
    }
    .right {
      @include media-breakpoint-between(md, lg) {
        padding-right: 15px !important;
      }
    }
    .img-portrait-1-container {
      flex-grow: 1;
      display: flex;
      align-items: center;
    }

    .img-portrait-1,
    .img-landscape-1,
    .img-landscape-2 {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .img-landscape-1 {
      @include media-breakpoint-up(md) {
        margin-top: 0;
      }
      // margin-bottom: 70px;
    }
    .img-landscape-2 {
      margin-bottom: 0;
    }
  }

  .entrepreneur__vimeo {
    .poster {
      position: relative;
      border: 5px inset transparent;
      transition: border 0.3s ease;

      .play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 42px;
        height: 55px;
      }
      path {
        transition: fill 0.3s ease;
      }
      &:hover {
        // border-color: $red;

        path {
          fill: $red;
        }
      }
    }
    .text {
      @include media-breakpoint-up(md) {
        padding-right: 10%;
      }
    }
  }

  .entrepreneur__audio {
    iframe {
      width: 100%;
    }
    .content {
      display: flex;
      align-items: center;
    }
  }

  .entrepreneur__text_text {
    .content {
      display: flex;
      align-items: center;
    }

    .right {
      .title {
        position: relative;
        // border-top: 3px solid $yellow;
        padding-top: 25px;
        padding-bottom: 0;

        @include media-breakpoint-up(lg) {
          padding-top: 25px;
          padding-bottom: 25px;
        }

        &::before {
          position: absolute;
          content: "";
          width: 85%;
          top: 0;
          left: 0;
          height: 3px;
          background-color: $yellow;
        }
      }
    }
  }

  .entrepreneur__bloc_text {
    .content {
      display: flex;
      align-items: center;
    }

    .left {
      flex: 0 0 100%;
      max-width: 100%;
      @include media-breakpoint-up(md) {
        flex: 0 0 45%;
        max-width: 45%;
      }
      .bloc {
        border: 3px solid $yellow;
        background-color: $white;
        padding: 30px;
        text-align: center;
        font-weight: 700;

        @include media-breakpoint-up(md) {
          padding: 30px;
          text-align: left;
          font-weight: 400;
        }

        @include media-breakpoint-up(xxxl) {
          padding: 60px;
        }
      }
    }
    .right {
      flex: 0 0 100%;
      max-width: 100%;
      @include media-breakpoint-up(md) {
        flex: 0 0 55%;
        max-width: 55%;
      }
      .text {
        font-weight: 700;
      }
    }
    .dots {
      margin-top: 0;
      transform: translateX(-20px);
      @include media-breakpoint-up(md) {
        margin-top: 35px;
        transform: translateX(0);
      }
      @include media-breakpoint-up(xl) {
        margin-top: 70px;
      }
    }
  }

  .entrepreneur__text_sound {
    // background-color: aquamarine;
  }

  .entrepreneur__img_text {
    @include media-breakpoint-up(xl) {
      // margin-top: 20px;
      // margin-bottom: 20px;
    }
    .content {
      display: flex;
      align-items: center;
    }
    .right {
      @include media-breakpoint-up(xl) {
        // padding-left: 0;
      }
    }
  }
}
