.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--mobile-nav-height);
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $white;
  z-index: $zindex-sticky;

  .azelar-header {
    position: relative;
    margin-left: 20px;
    img {
      display: block;
      width: 160px;
      height: 42px;
    }
  }
}

.navbar-toggler {
  position: relative;
  top: 0;
  right: 0;
  background-color: $red;
  width: var(--mobile-nav-height);
  height: var(--mobile-nav-height);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;

  .wrapper {
    transform-origin: center center;
    position: relative;
    width: 25px;
    height: 16px;
    transition: all 0.2s ease-out;
    // transform: translateY(-px);
    @include media-breakpoint-up(lg) {
      width: 30px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 30px;
    background-color: $blue;
    left: 0;
    top: 0;
    transform: translateX(-100%);
  }

  span {
    position: absolute;
    background-color: $white;
    transition: all 0.3s ease;
    display: block;
    width: 25px;
    height: 2px;

    @include media-breakpoint-up(lg) {
      width: 30px;
    }
    &:nth-of-type(1) {
      top: 0;
      transition: all 0.3s;
    }

    &:nth-of-type(2) {
      top: 7px;
      transition: all 0s;
    }

    &:nth-of-type(3) {
      top: 14px;
      transition: all 0.3s;
    }
  }
}

.js-hide-header {
  .main-header {
    transform: translateY(-100%);
  }
}

.header__entrepeneur {
  text-align: center;
  margin: 30px 20px;
  // padding: 20px;
  background-color: $white;

  @include media-breakpoint-up(lg) {
    background-color: transparent;
    // padding: 50px 70px;
    margin: 60px 0;
  }

  .content {
    // padding-top: 30px;

    // @include media-breakpoint-up(lg) {
    //   padding-top: 40px;
    // }
    display: flex;
    flex-direction: column;

    .wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;
      flex-grow: 1;
      padding: 40px;

      @include media-breakpoint-up(lg) {
        padding: 60px;
      }
    }
    .page-title {
      padding: 0;
    }
  }

  .btn {
    margin-top: 30px;

    @include media-breakpoint-up(md) {
      margin-top: 60px;
      // max-width: 280px;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    svg {
      width: 11px;
      height: 10px;

      // @include media-breakpoint-up(md) {
      //   width: 27px;
      //   height: 27px;
      // }

      @include media-breakpoint-up(md) {
        width: 37px;
        height: 37px;
      }
    }
  }

  .portrait {
    margin-top: 30px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;

    @include media-breakpoint-up(md) {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  .coords {
    font-size: 14px;
    padding-bottom: 30px;

    @include media-breakpoint-up(md) {
      font-size: 22px;
      padding-bottom: 30px;
    }
  }

  .motif {
    margin-bottom: 20px;
    margin-top: 30px;

    img {
      width: 30px;
      height: 30px;
      margin-left: 15px;
      margin-right: 15px;
    }
  }
  .location {
    margin-bottom: 10px;
  }

  .socials {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      margin-left: 10px;
      margin-right: 10px;
      height: 17px;
      width: auto;
    }
  }

  .tags {
    display: flex;
    justify-content: stretch;
    // margin-top: 20px;

    // @include media-breakpoint-up(lg) {
    //   margin-top: 40px;
    // }

    .tag {
      flex: 1 0 auto;
      color: $white;
      font-size: 11px;
      font-weight: 600;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      @include media-breakpoint-up(md) {
        font-size: 22px;
        height: 50px;
      }

      @include media-breakpoint-up(xxxl) {
        font-size: 30px;
        height: 70px;
      }

      &__red {
        background-color: $red;
      }

      &__yellow {
        background-color: $yellow;
      }

      &__blue {
        background-color: $blue;
      }
    }

    .sep {
      flex: 0 0 20px;
      height: 30px;

      @include media-breakpoint-up(md) {
        flex: 0 0 50px;
        height: 50px;
      }
      @include media-breakpoint-up(xxxl) {
        flex: 0 0 70px;
        height: 70px;
      }

      &__red {
        background-color: $red;
      }

      &__yellow {
        background-color: $yellow;
      }
      &__redlight {
        background-color: $red-light;
      }

      &__blue {
        background-color: $blue;
      }
    }
  }
}
