body.landing,
body.template-landing {
  font-size: 18px;
  padding-top: 0;
  padding-left: 0 !important;
  .page-header,
  .banner,
  footer.content-info {
    display: none;
  }
  .main {
    padding-left: 0;
    overflow-y: hidden;
  }
}

.landing-footer {
  height: 45px;
  width: 100%;
  color: $white;
  background-color: $red;
  display: flex;
  align-items: center;

  > .container {
    display: flex;
    justify-content: flex-end;
  }

  .socials {
    display: flex;

    svg {
      width: 26px;
      height: 26px;
    }

    path {
      transition: fill 0.3s ease;
    }

    a {
      padding: 0 10px;
    }

    a:hover path {
      fill: $blue-dark !important;
    }
  }
}

#landing {
  a {
    color: inherit;
  }

  .bg {
    max-width: 100%;
    position: relative;
  }

  .logos_mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    // display: none;
  }

  .right {
    text-align: center;
    padding: 30px;
    // flex-direction: column;
    // background-color: $red-dark;
  }

  .wrapper {
    margin-bottom: 130px;
  }

  .title {
    text-align: center;
    font-size: 19px;
    line-height: 1.7;
    letter-spacing: 0;
    color: #e83b44;
    opacity: 1;
    margin-bottom: 16px;
    white-space: normal;
  }

  .desc {
    @extend .mx-auto;

    letter-spacing: 0;
    opacity: 1;
    max-width: 340px;
  }

  address {
    line-height: 1.6;
    margin-bottom: 30px;
  }

  .sep {
    margin-bottom: 45px;
    margin-top: 15px;

    span {
      height: 10px;
      width: 10px;
      display: inline-block;
      border-radius: 50%;
      margin: 0 10px;

      &:nth-child(1) {
        background-color: $yellow;
      }

      &:nth-child(2) {
        background-color: $blue-dark;
      }

      &:nth-child(3) {
        background-color: $red;
      }
    }
  }

  .landing-form {
    padding: 30px;
    background-color: white;

    form {
      padding-bottom: 0;
      width: 100%;
      position: relative;
    }

    textarea {
      height: 100px;
      resize: none;
    }

    .btn {
      margin-left: auto;
      margin-right: auto;
      transform: translateY(50%);
    }

    .wpcf7-response-output {
      position: absolute;
      border: 0;
      width: 100%;
      text-align: center;
      margin-bottom: 30px;
    }

    .ajax-loader {
      position: fixed;
      bottom: 10px;
      right: 0;
    }
  }
}

@include media-breakpoint-up(lg) {
  #landing {
    height: calc(100vh - 45px);
    overflow: hidden;

    .logos_desktop {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .logos_mobile {
      display: none;
    }

    .left,
    .logos_desktop {
      background-size: cover;
      background-position: bottom left;
      background-repeat: no-repeat;
    }

    .bg {
      display: none;
    }

    .left {
      // flex: 0 0 calc(100% - 750px);
      // max-width: calc(100% - 750px);
    }

    .right {
      // flex: 0 0 750px;
      // max-width: 750px;
      max-height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch;
      padding: 30px 30px 100px;
    }

    .wrapper {
      margin-bottom: 130px;
    }

    .title {
      font-size: 25px;
      line-height: 1.5;
      margin-bottom: 30px;
    }

    .desc {
      max-width: 650px;
    }

    address {
      margin-bottom: 30px;
    }

    .sep {
      span {
        height: 17px;
        width: 17px;
        margin: 0 15px;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  #landing {
    .title {
      font-size: 26px;
    }
  }
}

@include media-breakpoint-up(xxl) {
  #landing {
    .sep {
      margin-bottom: 55px;
      margin-top: 20px;
    }

    .title {
      font-size: 30px;
    }

    .right {
      padding: 50px 50px 100px;
    }

    address {
      font-size: 24px;
      line-height: 1.5;
    }
  }
}

@include media-breakpoint-up(hd) {
  #landing {
    .title {
      font-size: 35px;
    }
  }
}

@media (min-height: 1000px) {
  #landing {
    .right {
      display: flex;
      justify-content: center;
      align-items: center;
      scroll-snap-align: start;
    }
  }
}

@media (orientation: portrait) {
  #landing {
    flex-direction: column;
    height: auto;
    overflow: auto;

    .bg {
      display: block !important;
      position: relative;
      z-index: 0;
    }

    .logos_mobile {
      display: block;
      z-index: 1;
    }

    .logos_desktop {
      display: none !important;
    }

    .left {
      background-image: none !important;
    }

    .left,
    .right {
      flex: 0 0 100% !important;
      max-width: 100% !important;
    }
  }
}
