#mainNav {
  padding: 0;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: $zindex-fixed;
  transition: transform 0.3s ease;
  transform: translateX(100%);
  height: 100%;

  @include media-breakpoint-up(lg) {
    transform: translateX(0%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $white;
    top: 0;
    left: 0;
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    width: var(--side-width-lg);
    z-index: $zindex-fixed;
  }

  @include media-breakpoint-up(xl) {
    width: var(--side-width-xl);
  }

  @include media-breakpoint-up(xxxl) {
    width: var(--side-width-xxl);
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    width: var(--mobile-nav-height);
    height: var(--mobile-nav-height);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    opacity: 1;
    text-shadow: none;

    @include media-breakpoint-up(lg) {
      display: none;
    }

    path,
    polygon {
      transition: all 0.3s ease;
      fill: $red;
    }
    &:hover {
      background-color: $red;
      path,
      polygon {
        fill: $white;
      }
    }
  }

  > .wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: $white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    @include media-breakpoint-down(lg) {
      justify-content: space-evenly;
    }

    @include media-breakpoint-up(lg) {
      text-align: left;
      position: relative;
      justify-content: flex-start;
      transform: translateX(0%);
      align-items: flex-start;
      padding: 50px 30px 50px 25%;
    }

    @include media-breakpoint-up(xl) {
    }
    @include media-breakpoint-up(xxxl) {
      padding: 50px 50px 50px 30%;
    }

    .navbar-nav {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    .azelar {
      position: relative;
      display: block;
      margin-left: 30px;
      margin-top: 5vh;

      @include media-breakpoint-up(lg) {
        margin-left: 0;
        margin-top: 0;
        transform: translateX(-100%);
        margin-bottom: 5vh;
      }

      img {
        display: block;
        width: 160px;
        height: 42px;

        @include media-breakpoint-up(lg) {
          margin-left: 0;
          width: auto;
          height: 27vh;
          max-height: 310px;
        }

        @include media-breakpoint-up(xxxl) {
          height: 30vh;
        }
      }
    }

    .nav-item {
      position: relative;

      &:not(:last-child) {
        &::after {
          position: absolute;
          content: "";
          width: 90px;
          height: 1px;
          background-color: $red;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);

          @include media-breakpoint-up(lg) {
            display: none;
          }
        }
      }
      &.active {
        .nav-link {
          color: $red;
        }
      }
    }

    .nav-link {
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 700;
      transition: all 0.3s ease;
      padding: 2.5vh 0;

      @include media-breakpoint-up(lg) {
        font-size: 16px;
        padding: 1vh 0;
      }

      @include media-breakpoint-up(xl) {
        font-size: 18px;
        padding: 1.5vh 0;
      }
      @include media-breakpoint-up(xxxl) {
        padding: 2vh 0;
      }

      &:hover {
        color: $red;
      }
    }

    .socials {
      margin: 30px 0;
      display: flex;
      align-items: center;

      @include media-breakpoint-up(lg) {
        flex-grow: 1;
      }
      svg {
        height: 30px;
        width: auto;

        path {
          transition: fill 0.3s ease;
        }
      }
      a {
        padding-left: 15px;
        padding-right: 15px;

        @include media-breakpoint-up(lg) {
          padding: 0;
          padding-right: 15px;
        }
        &:hover {
          path {
            fill: $blue-dark;
          }
        }
      }
    }
  }

  &.show {
    transform: translateX(0%);
  }
}
