.page-header {
  margin: 30px 0;

  @include media-breakpoint-up(lg) {
    margin: 60px 0;
  }

  .page-sutitle {
    font-style: normal;
    color: $yellow;
    font-weight: 700;
    font-size: inherit;
  }
}

// .page-title {
//   @extend .mx-auto;

//   font-size: 20px;
//   font-weight: 700;
//   line-height: 1.2;
//   letter-spacing: 3.2px;
//   color: $blue;
//   text-align: center;
//   max-width: 1035px;
//   padding: 10px 0;

//   @media (orientation: portrait) and (min-width: 700px) {
//     font-size: 30px;
//   }

//   @include media-breakpoint-up(lg) {
//     background-color: $white;
//     font-size: 30px;
//     padding: 50px 0;
//   }

//   @include media-breakpoint-up(xxxl) {
//     font-size: 40px;
//   }
// }

// .template-annuaire {
//   .page-header {
//     .section__text {
//       margin-top: 30px;
//     }
//   }
// }
