.section {
  text-align: center;
  padding: 15px 0;
  @include media-breakpoint-up(md) {
    padding: 30px 0;
  }

  .title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 1.5px;

    @include media-breakpoint-up(md) {
      font-size: 22px;
    }

    @include media-breakpoint-up(xxxl) {
      font-size: 26px;
    }
  }

  .text {
    @include media-breakpoint-up(md) {
      font-size: 18px;
    }

    @include media-breakpoint-up(xxxl) {
      font-size: 20px;
    }
  }
}

.section-header {
  margin-bottom: 30px;
  @include media-breakpoint-up(xxxl) {
    margin-bottom: 50px;
  }
}

.section-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1.5px;
  margin-bottom: 0;
  color: $blue-dark;
  text-align: center;

  @include media-breakpoint-up(md) {
    font-size: 24px;
  }

  @include media-breakpoint-up(xxxl) {
    font-size: 30px;
  }

  img {
    display: block;
    height: 30px;
    width: auto;
    margin: 0 auto 10px;
    // display: inline-block;
    // vertical-align: baseline;

    @include media-breakpoint-up(md) {
      margin: 0 0 -1px;
      display: inline-block;
      vertical-align: baseline;
    }
  }

  &__inline {
    img {
      display: inline-block;
      vertical-align: baseline;
      margin: 0 0 -2px;
    }
  }

  &__blue {
    color: $blue;
  }
  &__red {
    color: $red;
  }
}

.section-text,
.section-body {
  font-size: 18px;

  @include media-breakpoint-up(md) {
    font-size: 20px;
  }
}

.section-footer {
  // font-size: 15px;
  font-weight: 700;
  line-height: 1.5;
  color: $blue;
  text-align: center;
  margin-bottom: 0;

  // @include media-breakpoint-up(xxl) {
  //   letter-spacing: 3.2px;
  // }
}

.section__scroll-slide {
  // @include media-breakpoint-up(lg) {
  // max-width: 80%;
  // padding: 60px 0;
  min-height: calc(100vh - var(--mobile-nav-height));
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 auto;
  flex-direction: column;
  width: 100%;
  // }

  @include media-breakpoint-up(lg) {
    min-height: 100vh;
    // padding: 60px 0 !important;
    // max-width: 800px;
    padding: 0 !important;
  }

  @media (min-height: 800px) {
    padding: 40px 0 !important;
  }

  .section-header {
    opacity: 1;
    text-align: center;
    padding: 15px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;

    @include media-breakpoint-up(md) {
      padding: 30px 15px;
    }

    @include media-breakpoint-up(xxxl) {
      padding: 30px 0 60px;
      max-width: 900px;
    }

    &::after {
      content: "";
      height: 3px;
      width: 80%;
      max-width: 620px;
      background-color: $yellow;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .section-title {
    color: $red-med;
    @include media-breakpoint-down(sm) {
      font-size: 18px;
    }
    @include media-breakpoint-up(xxl) {
      font-size: 30px;
    }
  }

  .section-footer {
    margin: 15px 0;

    @include media-breakpoint-up(md) {
      margin: 30px 0;
    }
    @include media-breakpoint-up(xxxl) {
      margin: 60px 0;
    }
  }

  .section-body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    // @include media-breakpoint-up(lg) {
    //   position: relative;
    //   overflow: hidden;
    //   width: 100%;
    //   // height: 500px;
    // }
    @media (orientation: portrait) {
      justify-content: center;
    }
  }

  .scroll-slide-panel {
    padding: 0 15px 15px;

    @include media-breakpoint-down(sm) {
      font-size: 15px;
    }

    @include media-breakpoint-up(md) {
      padding: 0 60px 30px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 18px;
      padding: 0 30px 15px;
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      //   position: absolute;
      //   left: 0%;
      //   top: 0%;
      //   right: 0%;
      //   bottom: 0%;
      //   width: 100%;
      //   height: 100%;
      //   text-align: center;
      //   // background-color: khaki;
      //   z-index: auto;
      //   transform: translateX(50%);
      //   opacity: 0;
      //   display: flex;
      //   align-items: center;
      //   justify-content: center;
      //   padding: 0 30px;

      //   &:first-child {
      //     transform: translateX(0%);
      //     opacity: 1;
      //   }
    }

    @include media-breakpoint-up(xxl) {
      font-size: 20px;
    }

    @include media-breakpoint-up(xxxl) {
      font-size: 24px;
    }

    .wrapper {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;

      @include media-breakpoint-up(xxxl) {
        max-width: 900px;
      }
    }
  }
}

.section__numbers {
  .section-header {
    margin-bottom: 15px;

    @include media-breakpoint-up(md) {
      margin-bottom: 60px;
    }
  }

  .section-title {
    @include media-breakpoint-up(md) {
    }
  }

  .section-body {
    @include media-breakpoint-up(md) {
      display: flex;
      justify-content: space-evenly;
    }
  }

  .section-bloc {
    font-weight: 600;
    background-color: $white;
    display: inline-flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 20px;
    width: 220px;
    height: 220px;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-up(xl) {
      width: 300px;
      height: 300px;
      padding: 40px 20px;
    }

    @include media-breakpoint-up(xxxl) {
      width: 345px;
      height: 345px;
    }

    .counter {
      font-size: 127px;
      line-height: 0.8;
      color: $red;
      letter-spacing: 20px;
      margin-right: -15px;
    }

    .label {
      font-size: 25px;
    }
  }
}

.section__metiers {
  padding: 0 15px;
  // margin-bottom: -50px;

  @include media-breakpoint-up(md) {
    padding: 20px 0 0 0;
  }

  @include media-breakpoint-up(xxxl) {
    padding: 0;
  }

  // @include media-breakpoint-up(xxl) {
  //   margin-bottom: -80px;
  // }
  // @include media-breakpoint-up(xxxl) {
  //   margin-bottom: -127px;
  // }

  @include media-breakpoint-up(xl) {
    .container {
      padding-left: 70px;
      padding-right: 70px;
      .row {
        margin-left: -35px;
        margin-right: -35px;
        [class*="col-"] {
          padding-left: 35px;
          padding-right: 35px;
        }
      }
    }
  }

  .card-wrapper {
    margin-bottom: 50px;
    @include media-breakpoint-up(md) {
      display: flex;
      &:nth-child(3n + 1) {
        justify-content: flex-start;
      }
      &:nth-child(3n + 2) {
        justify-content: center;
      }
      &:nth-child(3n + 3) {
        justify-content: flex-end;
      }
    }

    @include media-breakpoint-up(xl) {
      margin-bottom: 70px;
    }
    // @include media-breakpoint-up(xxxl) {
    //   margin-bottom: 100px;
    // }
  }

  .section-footer {
    @include media-breakpoint-up(xl) {
      margin-top: 30px;
    }
  }
}

.section__blog {
  .section-footer {
    margin-top: 25px;

    @include media-breakpoint-up(xxxl) {
      margin-top: 60px;
    }
  }

  .section-header {
    @include media-breakpoint-up(xxxl) {
      margin-bottom: 60px;
    }
  }

  .section-title {
    span {
      white-space: nowrap;
      display: block;
      align-items: center;
      line-height: 1;
      text-align: center;
      @include media-breakpoint-up(md) {
        display: inline-block;
      }
      img {
        height: 25px;
        width: auto;
        margin-top: -2px;
        vertical-align: baseline;
      }
    }
  }
}

.section__contact {
  .section-title {
    margin-bottom: 60px;

    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
    }
  }

  .section-body {
    display: flex;
    align-items: stretch;
  }

  .section-left {
    margin-bottom: 60px;

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }

    @include media-breakpoint-up(xl) {
      margin-bottom: 0;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column-reverse;
      justify-content: space-between;
    }
  }

  .section-right {
    > .wrapper {
      padding: 15px 30px;
      background-color: $white;
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
      @include media-breakpoint-up(xxl) {
        padding: 30px 60px;
      }
    }
  }

  .icon-text {
    display: flex;
    .icon {
      margin-right: 10px;
    }
  }

  .illus2 {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
  }

  .coords {
    font-size: 15px;
    line-height: 1.3;
    font-weight: 600;
    margin-bottom: 30px;

    @include media-breakpoint-up(md) {
      background-color: $white;
      padding: 30px;
    }

    @include media-breakpoint-up(xl) {
      text-align: left;
      margin-bottom: 0;
    }

    .logo {
      max-height: 35px;
      width: auto;

      @include media-breakpoint-up(xl) {
        margin-left: 30px;
      }
    }

    img {
      margin-bottom: 30px;
    }

    a {
      @include media-breakpoint-up(md) {
        display: block;
      }
    }
    address {
      text-align: left;

      .icon {
        margin-top: 3px;
        width: 22px;
      }
    }
    .links {
      text-align: left;
      // font-size: 22px;
      line-height: 1.5;
      .icon {
        margin-top: 3px;
        width: 22px;
      }
    }
  }

  .wpcf7 {
    flex-grow: 1;
    text-align: left;
    br {
      display: none;
    }
  }

  .wpcf7-text {
    @include media-breakpoint-up(xl) {
      width: 80%;
    }
  }

  .wpcf7-textarea {
    height: 160px;
    resize: none;
  }
  .wpcf7-submit {
    margin-top: 30px;
    margin-left: 0;
    @include media-breakpoint-up(xxxl) {
      margin-top: 60px;
    }
  }
}

.section__search {
  margin-bottom: 30px;

  opacity: 0;
  transition: opacity 0.3s;
  &.show {
    opacity: 1;
  }

  @include media-breakpoint-up(xxxl) {
    margin-bottom: 60px;
  }

  .select2-container {
    width: calc(100% - 1px) !important;
  }

  .select-skills-container {
    margin-bottom: 30px;

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }
}

.section__list {
  transition: all 0.3s ease;
}

.section__bloc {
  text-align: center;
  width: 100%;
  // overflow: hidden;

  @include media-breakpoint-up(md) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include media-breakpoint-up(xxxl) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .bloc {
    background-color: $white;
    padding: 30px;
    position: relative;

    @include media-breakpoint-up(xl) {
      padding: 90px;
    }
  }

  hr {
    height: 3px;
    max-width: 650px;
    background-color: $yellow;
    margin: 30px auto;
    border: 0;

    @include media-breakpoint-up(lg) {
      margin: 50px auto 40px auto;
    }
  }

  .content {
    max-width: 100%;
    margin: 0 auto;

    @include media-breakpoint-up(md) {
      max-width: calc(100% - 60px);
    }
    @include media-breakpoint-up(xl) {
      max-width: 1000px;
    }
  }

  .illus1 {
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
      bottom: 0;
      left: 0;
      width: 80px;
      height: auto;
      transform: translate(-50%, 50%);
      position: absolute;
    }

    @include media-breakpoint-up(xl) {
      width: 100px;
    }

    @include media-breakpoint-up(xxxl) {
      width: 140px;
    }
  }

  .illus2 {
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
      top: 0;
      right: 0;
      width: 80px;
      height: auto;
      transform: translate(50%, -50%);
      position: absolute;
    }

    @include media-breakpoint-up(xl) {
      width: 100px;
    }

    @include media-breakpoint-up(xxxl) {
      width: 140px;
    }
  }
  .section-logo {
    margin: 10px 0;
    img {
      max-width: 150px;
      @include media-breakpoint-up(lg) {
        max-width: 250px;
      }
    }
  }

  .section-title {
    color: $red-dark;

    &__bleu {
      color: $blue;
    }

    &__rouge {
      color: $red-dark;
    }
  }
  .section-body {
    line-height: 1.5;
    // max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint-up(xxxl) {
      font-size: 30px;
    }

    strong,
    em {
      font-weight: 700;
      display: block;
      // font-size: 15px;
    }
    em {
      color: $yellow;
      font-style: normal;
    }
    ul {
      padding-left: 30px;
    }
  }
  .section-footer {
    color: $blue-light;
    margin-top: 30px;

    @include media-breakpoint-up(xxxl) {
      margin-top: 60px;
    }
  }

  .btn {
    margin-top: 30px;
  }
}

.section__bloc-dots {
  margin-top: 30px;
  margin-bottom: 30px;
  @include media-breakpoint-up(xxl) {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.section__bloc__left {
  @include media-breakpoint-down(md) {
    margin-bottom: 60px;
  }
  .bloc {
    @include media-breakpoint-down(md) {
      padding-bottom: 60px;
    }
  }
  .section-title {
    margin-bottom: 30px;
    color: $blue;
  }

  .content {
    max-width: 1000px;
  }
  .section-body {
    text-align: left;
  }

  .section-text {
    @include media-breakpoint-up(xxxl) {
      padding: 30px;
      // font-size: 30px;
    }

    &:not(:last-child) {
      margin-bottom: 28px;
    }

    strong {
      font-weight: 700;
      color: $yellow;
    }
  }

  .illus1 {
    @include media-breakpoint-down(md) {
      display: block;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 50%);
    }
  }
}

.bloc-container {
  margin-bottom: 30px;
  @include media-breakpoint-up(md) {
    margin-bottom: 0;
  }
}

.section__two-blocs {
  > .row {
    align-items: stretch;
    > [class*="col-"] {
      height: 100%;
    }
  }
  .bloc {
    padding: 40px;
    height: 100%;

    @include media-breakpoint-up(xxl) {
      padding: 60px;
    }

    .title {
      color: $white;
      margin-bottom: 15px;

      @include media-breakpoint-up(md) {
        margin-bottom: 30px;
      }
    }

    .text {
      color: $blue-light;
    }
  }
}

.section__text {
  .section-body {
    em {
      font-style: normal;
      color: $yellow;
      font-weight: 700;
      font-size: inherit;
    }
  }
  .section-footer {
    margin-top: 15px;
    @include media-breakpoint-up(xxxl) {
      margin-top: 70px;
    }
  }
}

.section__testimony {
  .row {
    display: flex;
    align-items: stretch;
  }

  p {
    margin-bottom: 0;
  }

  .bloc {
    box-shadow: 0 3px 6px #00000029;
    background-color: $white;
    padding-bottom: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include media-breakpoint-up(xxl) {
      padding-bottom: 70px;
    }
  }
  .bloc-header {
    display: flex;
    align-items: flex-start;

    img {
      width: auto;
      height: auto;
      max-width: 100%;
    }
    .portrait {
      flex-basis: 120px;
      height: 120px;
      position: relative;

      // @include media-breakpoint-up(xxl) {
      //   flex-basis: 150px;
      //   height: 150px;
      // }
      @include media-breakpoint-up(xxxl) {
        flex-basis: 200px;
        height: 200px;
      }
      overflow: hidden;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        object-position: center center;
        font-family: "object-fit: cover; object-position: center center;";
      }
    }

    .illus {
      flex-basis: calc(100% - 120px);
      // @include media-breakpoint-up(xxl) {
      //   flex-basis: calc(100% - 150px);
      // }
      @include media-breakpoint-up(xxxl) {
        flex-basis: calc(100% - 200px);
      }
    }
  }

  .bloc-content {
    display: flex;
    flex-direction: column;
  }

  .bloc-body {
    padding: 30px;

    @include media-breakpoint-up(xxxl) {
      padding: 50px 70px;
    }
  }
  .author {
    color: $yellow;
    font-weight: 700;
    transition: all 0.3s ease;

    &:hover {
      text-decoration: none;
      color: $blue-light;
    }
  }

  .right {
    .bloc-header {
      flex-direction: row-reverse;
    }
  }

  .left,
  .right {
    margin-bottom: 30px;
    // @include media-breakpoint-up(md) {
    //   margin-bottom: 0;
    // }
  }
}

.section__team__gds {
  .card__team {
    margin: 10px 0;
  }
  .section-title {
    img {
      width: 175px;

      @include media-breakpoint-up(md) {
        width: 270px;
      }
    }
  }
}

.section__tags {
  ul.tags {
    @extend .mx-auto;
    max-width: 700px;
    list-style: none;
    li {
      position: relative;
      > * {
        position: relative;
        display: inline-flex;
        padding-right: 10px;
        margin-right: 10px;
        line-height: 1.75;
        font-size: 15px;
        margin-bottom: 5px;

        @include media-breakpoint-up(md) {
          font-size: 22px;
        }

        @include media-breakpoint-up(xxxl) {
          font-size: 35px;
        }

        &:not(:last-child)::after {
          content: "";
          position: absolute;
          width: 1px;
          height: 50%;
          background-color: $blue-dark;
          right: 0;
          top: 25%;

          @include media-breakpoint-up(lg) {
            width: 2px;
          }
        }
      }
    }
  }
}

.section__flaps {
}

.section__timeline {
  .section-header {
    @include media-breakpoint-down(md) {
      margin-bottom: 60px;
    }
  }
  .section-body {
    display: flex;
    align-items: center;
  }
  .section-left {
    @include media-breakpoint-up(md) {
      flex: 0 0 calc(50% - 30px);
      max-width: calc(50% - 30px);
    }

    @include media-breakpoint-up(xxxl) {
      flex: 0 0 calc(50% - 60px);
      max-width: calc(50% - 60px);
    }

    ul.steps {
      list-style: none;
      padding: 0;
      counter-reset: section;
      position: relative;

      margin-left: -15px;
      margin-right: -15px;
      width: calc(100% + 30px);

      @include media-breakpoint-up(md) {
        // padding-right: 180px;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
      }

      > li {
        position: relative;

        &:not(:last-child)::before {
          position: absolute;
          content: "";
          right: -50px;
          top: 50%;
          height: calc(100% + 35px);
          width: 7px;
          background-color: $red-light;
          display: none;
          // transform: translateX(-50%);

          @include media-breakpoint-up(md) {
            display: block;
          }

          @include media-breakpoint-up(xxxl) {
            right: -70px;
          }
        }
        &::after {
          position: absolute;
          counter-increment: section;
          content: counter(section);
          border-radius: 50%;
          width: 52px;
          height: 52px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $white;
          font-size: 30px;
          line-height: 1;
          left: 50%;
          top: 0%;
          transform: translate(-50%, -50%);

          @include media-breakpoint-up(md) {
            right: -20px;
            top: 50%;
            left: auto;
            transform: translate(100%, -50%);
          }

          @include media-breakpoint-up(xxxl) {
            right: -40px;
          }
        }
        &.yellow {
          &::after {
            background-color: $yellow;
          }
        }
        &.red {
          &::after {
            background-color: $red-dark;
          }
        }
        &.corail {
          &::after {
            background-color: $red;
          }
        }
        &.blue {
          &::after {
            background-color: $blue-dark;
          }
        }
      }
    }
  }

  .section-right {
    display: flex;
    align-items: center;
    padding-left: 0;
    padding-right: 0;

    @include media-breakpoint-up(md) {
      flex: 0 0 calc(50% - 30px);
      max-width: calc(50% - 30px);
      margin-left: 60px;
      padding-left: 15px !important;
      padding-right: 15px !important;
    }

    @include media-breakpoint-up(xxxl) {
      flex: 0 0 calc(50% - 60px);
      max-width: calc(50% - 60px);
      margin-left: 90px;
    }

    .bloc {
      background-color: $white;
      padding: 30px;
      max-width: 100%;

      @include media-breakpoint-up(xxxl) {
        padding: 60px;
      }

      .section-title {
        margin-bottom: 30px;

        // letter-spacing: 1.8px;
        @include media-breakpoint-up(md) {
          font-size: 20px;
        }

        @include media-breakpoint-up(xl) {
          font-size: 24px;
          margin-bottom: 50px;
        }

        @include media-breakpoint-up(xxxl) {
          font-size: 30px;
          margin-bottom: 50px;
          // letter-spacing: 3.2px;
        }
      }
      p {
        margin-bottom: 30px;

        @include media-breakpoint-up(md) {
          font-size: 16px;
        }

        @include media-breakpoint-up(xl) {
          font-size: 18px;
        }

        @include media-breakpoint-up(xxxl) {
          font-size: 30px;
          margin-bottom: 60px;
        }
      }
    }
  }
}

.section__joinus {
  text-align: left;

  .section-left {
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 25px;

    @include media-breakpoint-up(xxl) {
      padding-bottom: 0;
    }
  }

  .section-right {
    padding-bottom: 35px;
    text-align: center;

    @include media-breakpoint-up(md) {
      text-align: left;
    }

    @include media-breakpoint-up(xxxl) {
      padding-bottom: 60px;
    }
  }

  .card__calendar {
    margin-bottom: 0;
  }

  .badge {
    position: relative;
    background-color: $yellow;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    font-size: 30px;
    line-height: 1;
    font-weight: 400;

    @include media-breakpoint-up(md) {
    }
  }
  .step:not(:last-child) {
    .section-left::before {
      @include media-breakpoint-up(md) {
        content: "";
        width: 3px;
        height: 100%;
        background-color: $red-light;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
  }
  .title {
    // font-size: 20px;
    // font-weight: 600;
    // line-height: 1.3;
    color: $yellow;

    // @include media-breakpoint-up(xxl) {
    //   font-size: 30px;
    // }
  }
  .text {
    padding-bottom: 45px;

    @include media-breakpoint-up(md) {
      padding-bottom: 20px;
    }
  }

  .calillus2 {
    display: none;
  }

  .section-footer {
    margin-bottom: 30px;
  }
}

.section__highlight_photo {
  .content {
    display: flex;
    align-items: center;
  }

  .left {
    font-size: 20px;
    // font-weight: 600;
    color: $red-med;
    text-align: left;
    margin-bottom: 30px;

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }

    @include media-breakpoint-up(xxxl) {
      font-size: 30px;
    }
  }
  // .right {
  // }
}

.section__text-left {
  text-align: left;
  .section-title {
    text-align: left;
  }
}
