html,
body {
  // min-height: 100vh;
  // height: 100%;
  // position: relative;
  // width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  color: $blue-dark;
  background-color: $pastel;
  line-height: 1.5;
  font-size: 16px;
  max-width: 100%;
  padding-top: var(--mobile-nav-height);

  @include media-breakpoint-up(lg) {
    // font-size: 18px;
    padding-left: var(--side-width-lg);
    padding-top: 0;
    // height: 100vh;
  }

  @include media-breakpoint-up(xl) {
    padding-left: var(--side-width-xl);
  }

  @include media-breakpoint-up(xxxl) {
    padding-left: var(--side-width-xxl);
    font-size: 20px;
  }

  // @include media-breakpoint-up(lg) {
  // &:not(.mobile) {
  .gs_reveal {
    opacity: 0;
    visibility: hidden;
    will-change: transform, opacity;
  }
  // }
  // }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

a {
  color: inherit;
}

sup {
  font-size: 10px;
  top: -0.45em;
}

.main {
  width: 100%;
  position: relative;
  display: block;
  overflow-x: hidden;
  min-height: 100vh;
}

.main-content {
  position: relative;
}

// .container. {
.container {
  @include media-breakpoint-up(md) {
    padding-left: 30px;
    padding-right: 30px;
  }
  @include media-breakpoint-up(lg) {
    padding-left: 50px;
    padding-right: 50px;
  }
  @include media-breakpoint-up(xl) {
    padding-left: 70px;
    padding-right: 70px;
  }

  @include media-breakpoint-up(xxxl) {
    padding-left: 70px;
    padding-right: 70px;
    > .row {
      margin-left: -35px;
      margin-right: -35px;
      [class*="col-"] {
        padding-left: 35px;
        padding-right: 35px;
      }
    }
  }
}

.fill__white {
  path {
    fill: $white;
  }
}
.fill__red {
  path {
    fill: $red;
  }
}
.fill__red-med {
  path {
    fill: $red-med;
  }
}
.fill__blue {
  path {
    fill: $blue;
  }
}
.fill__yellow {
  path {
    fill: $yellow;
  }
}

.dots {
  position: relative;
  width: 10px;
  height: 10px;
  background-color: $yellow;
  border-radius: 50%;
  margin: 10px auto;

  @include media-breakpoint-up(md) {
    margin: 0 40px;
    width: 15px;
    height: 15px;
  }

  &__center {
    margin-left: auto;
    margin-right: auto;
    @include media-breakpoint-down(sm) {
      transform: translateX(-20px);
    }
  }
  &__left {
    margin-left: -10px;

    @include media-breakpoint-up(md) {
      margin-left: 10px;
    }
    @include media-breakpoint-up(lg) {
      margin-left: -10px;
    }

    @include media-breakpoint-up(xl) {
      margin-left: -30px;
    }

    @include media-breakpoint-up(xxxl) {
      margin-left: -30px;
    }
  }

  &::after,
  &::before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    content: "";
    position: absolute;
    top: 0;

    @include media-breakpoint-up(md) {
      width: 15px;
      height: 15px;
    }
  }

  &::after {
    background-color: $blue;
    right: -40px;

    @include media-breakpoint-up(md) {
      right: -40px;
    }
  }

  &::before {
    background-color: $red-dark;
    left: 20px;

    @include media-breakpoint-up(md) {
      left: -40px;
    }
  }
}

.page-title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 0;
  line-height: 1.2;
  color: $blue-dark;
  text-align: center;

  @include media-breakpoint-up(md) {
    font-size: 30px;
  }

  @include media-breakpoint-up(xxxl) {
    font-size: 40px;
  }

  img {
    vertical-align: baseline;
    max-height: 25px;
    width: auto;

    @include media-breakpoint-up(md) {
      max-height: 30px;
    }

    @include media-breakpoint-up(xxxl) {
      max-height: 40px;
    }
  }
}

.page-subtitle {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0;
  line-height: 1.1;
  color: $blue;
  letter-spacing: 1px;

  @include media-breakpoint-up(md) {
    font-size: 24px;
  }

  @include media-breakpoint-up(xxxl) {
    font-size: 32px;
  }
}

.nav-links {
  margin: 30px auto 60px;
  text-align: center;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  .nav-previous,
  .nav-next {
    padding: 10px;
  }
}
.poster {
  cursor: pointer;
  content: "play";
}

.bg-red {
  background-color: $red;
}
.bg-red-dark {
  background-color: $red-dark;
}
.bg-red-light {
  background-color: $red-light;
}
.bg-yellow {
  background-color: $yellow;
}
.bg-blue {
  background-color: $blue;
}
.bg-blue-light {
  background-color: $blue-light;
}
.bg-yellow-light {
  background-color: $yellow-light;
}
.bg-blue-dark {
  background-color: $blue-dark;
}

.custom-scroll {
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  scrollbar-face-color: $red-light;
  scrollbar-track-color: transparent;

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $red-light;
    border: 0;
    border-radius: 2px;
  }

  &__red {
    scrollbar-face-color: $red-med;

    &::-webkit-scrollbar-thumb {
      background-color: $red-med;
    }
  }
}
.maxw-1000 {
  @extend .mx-auto;

  @include media-breakpoint-up(md) {
    max-width: 700px;
  }

  @include media-breakpoint-up(xl) {
    max-width: 800px;
  }

  @include media-breakpoint-up(xxxl) {
    max-width: 1000px;
  }
}

.ul__categories {
  display: none;
  padding: 0;
  margin: 0;

  @include media-breakpoint-up(md) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 30px 0;
  }
  @include media-breakpoint-up(xxxl) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 60px 0;
  }
  li {
    font-size: 15px;
    font-weight: 600;
    display: inline-flex;
    white-space: nowrap;
    position: relative;

    @include media-breakpoint-up(xxxl) {
      font-size: 18px;
    }

    &:not(:last-child) {
      position: relative;
      padding-right: 10px;
      margin-right: 10px;

      &::after {
        position: absolute;
        right: 0;
        top: 0%;
        content: "·";
      }
    }
    &.active a {
      color: $red;
    }
    a {
      transition: all 0.3s ease;
      &:hover {
        text-decoration: none;
        color: $red-med;
      }
    }
  }
}

.articles {
  .article-item {
    margin-bottom: 30px;

    @include media-breakpoint-up(xxxl) {
      margin-bottom: 60px;
    }
  }
}
.article {
  padding-top: 60px;
  @include media-breakpoint-up(xxxl) {
    padding-top: 120px;
  }
  h1 {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
    color: $blue;

    @include media-breakpoint-up(md) {
      font-size: 30px;
    }

    @include media-breakpoint-up(xxxl) {
      font-size: 40px;
    }
  }
  h2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.1;
    color: $blue;
    letter-spacing: 1px;

    @include media-breakpoint-up(md) {
      font-size: 24px;
    }

    @include media-breakpoint-up(xxxl) {
      font-size: 32px;
    }
  }
  h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 1.5px;

    @include media-breakpoint-up(md) {
      font-size: 22px;
    }

    @include media-breakpoint-up(xxxl) {
      font-size: 26px;
    }
  }
  h4 {
  }
  h5 {
  }
}
.article-img-top {
  @include media-breakpoint-up(md) {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  @include media-breakpoint-up(xxxl) {
    height: 600px;
  }

  img {
    @include media-breakpoint-up(md) {
      position: absolute;
      object-fit: cover;
      object-position: center center;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

#cookie-notice {
  background: $blue !important;
}

.cookie-notice-container {
  padding: 8px 30px;

  @include media-breakpoint-down(sm) {
    padding: 8px 20px;
  }
}

.cn-button.bootstrap {
  background: $yellow-dark !important;
}
