/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

:root {
  --side-width-lg: 250px;
  --side-width-xl: 300px;
  --side-width-xxl: 345px;
  --mobile-nav-height: 86px;
}

$white: #fff;
$gray-100: #fdfdfd;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$pastel: #fff4f1;
$red-light: #facdc0;
$red: #ed7665;
$red-dark: #df2333;
$red-med: #ff4846;

$yellow-light: #f2c272;
$yellow: #f5bc1c;
$yellow-dark: #f8c44e;

$blue-light: #47436a;
$blue: #3c446a;
// 3c446a3a3759;
$blue-dark: #141939;

$font-size-base: 1rem;
$line-height-base: 1.4;

$font-family-sans-serif: "Source Sans Pro", sans-serif;
$theme-colors: (
  primary: #202048,
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1100px,
  xxl: 1140px,
  xxxl: 1280px,
  hd: 1310px,
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
  xxxl: 1600px,
  hd: 1920px,
);

@media (min-width: map-get($grid-breakpoints, xxxl)) {
  .row > .col,
  .row > [class*="col-"] {
    padding-right: 30px;
    padding-left: 30px;
  }
}

// $enable-caret: true;
$enable-rounded: false;
// $enable-shadows: false;
// $enable-gradients: false;
// $enable-transitions: true;
// $enable-prefers-reduced-motion-media-query: true;
// $enable-grid-classes: true;
// $enable-pointer-cursor-for-buttons: true;
// $enable-print-styles: true;
// $enable-responsive-font-sizes: false;
// $enable-validation-icons: true;
// $enable-deprecation-messages: true;
